<template name="specialties">
  <div class="grid-small grid-block dialog admin">
    <h2>Specialties</h2>
    <form class="form-block">
      <h3>Add new specialty</h3>
      <div class="control-group">
        <label>Name</label>
        <div class="controls"><input id="name" type="text" value="" /></div>
      </div>
      <div class="form-actions">
        <input type="submit" class="button" value="Submit" />
      </div>
    </form>
    <ul>
      {{#each specialties}}
        {{> specialty_item}}
      {{/each}}
    </ul>
  </div>
</template>
